.footer {
  background-color: #fff;
  color: #333;
  padding: 2rem 10rem;
  display: flex;
  font-family: sans-serif;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-section {
    margin: 10px 0;
  }
}
